body {
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    text-align: center;
}
* {
    box-sizing: border-box;
}
input {
    height: 40px;
    width: 40px; 
    border: solid 1px;  
    text-align: center;
}
.square {
    height: 120px;
    width: 120px;
    border: solid 1px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.board {
    height: 360px;
    width: 360px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px auto;
}