body {
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    margin: 0;
    text-align: center;
    background-color: rgb(244, 248, 248);
}
* {
    box-sizing: border-box;
}
.backg {
    width: 743px;
    margin: 20px auto;
    background-color: rgb(209, 238, 186);
    padding: 20px;
    border-radius: 60px;
}

.cube {
    height: 60px;
    width: 60px; 
    border: solid 1px black;  
    text-align: center;
}
.square {
    height: 183px;
    width: 183px;
    border: solid 2px black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.board {
    height: 543px;
    width: 543px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px auto;
}
h1 {
    padding: 30px;
    font-size: 44px;
}
.btn {
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    box-shadow: 3px 2px 2px 1px gray;
    border-radius: 20px;
}
.btn:hover {
    transform: scale(1.05);
}
.difficulty {
    width: 543px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.score-table {
    width: 543px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 0;
}
p {
    width: 50%;
    text-align: start;
    font-size: 22px;
}